<h1>
  {{title}}
</h1>
<md-list class="full-width" class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <md-card class="main-card">

    <form (ngSubmit)="submit()" class="full-width" [formGroup]="questForm">
      <p>
      <md-input-container class="full-width">
        <input mdInput placeholder="Сумма кредита" formControlName="creditAmount">
        <!--<validator-message [field]="questForm.get('creditAmount')"></validator-message>-->
      </md-input-container>

      </p>

      <p>
      <md-select placeholder="Срок кредита" formControlName="creditPeriod">
        <md-option *ngFor="let period of creditPeriods" [value]="period.value">{{period.viewValue}}</md-option>
      </md-select>
      </p>
      <p>
      <md-input-container class="full-width">
        <input mdInput placeholder="Фамилия Имя Отчество" [mdAutocomplete]="auto" [formControl]="nameCtrl">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state">{{ state }}</md-option>
      </md-autocomplete>
      </p>

      <p>
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" placeholder="Дата рождения"  formControlName="birthDate">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
      </p>

      <md-input-container class="full-width">
        <input mdInput placeholder="Дополнительный телефон" formControlName="additionalPhone">
      </md-input-container>

      <p>
        <button md-button onclick="submit">Click me!</button>
      </p>
    </form>

    <div>Summ {{questForm.value.creditAmount}}</div>
    <div>Period {{questForm.value.creditPeriod}}</div>
    <div>Name {{questForm.value.name}}</div>

  </md-card>
</md-list>
